a {
    cursor: pointer;
}

#sidePanel {
    max-width: 20rem;
    background-color: rgb(30, 79, 123);
    z-index: 10;
}

#departmentPanel {
    background-color: rgb(245, 245, 245);
    display: none;
    
}

#directoryPanel {
    background-color: rgb(245, 245, 245);
    max-height: 100vh;
    /* display: none; */
}


tr {
    cursor: pointer;
}

tr:hover {
    background-color: rgb(230, 249, 255);
    transition: 0.3s;
}

.manage {
    background-color: lightblue !important;
}

.navButton {
    text-align: left !important;
    color: white !important;    
    /* border-left: solid 2px white !important; */
    border-radius: 0 !important;
}

.navButton:hover {
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold;
    color: rgb(30, 79, 123) !important;
    /* font-size: 15px; */
    transition: 0.2s ease-in-out;
}