/* DOM Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
}

h1 {
    margin: 2rem;
}

/* Classes */

/* Ids */

#title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}


#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
} 

#map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#sidePanel {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 20rem;
    height: 80vh;
    background-color: white;
    opacity: 50%;
    border-radius: 1rem;
    text-align: center;
}

#sidePanel:hover {
    opacity: 100%;
    box-shadow: 0 0 1rem  gray;
    transition: 0.5s ease-in-out;
}


