/* DOM Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
}

body {
    overflow: hidden;
}

h1 {
    margin: 2rem;
}

/* Classes */


.infoIcon,
.astroIcon {
    background-color: white;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    color: black;
    box-shadow: 0.2rem 0.2rem 1rem gray;
    width: auto !important;
    height: auto !important;
}

.infoIcon:hover {
    background-color: blue;
}

.option {
    font-size: 1rem;
    padding: 0.5rem;
    color: black;
}

.markerButton {
    cursor: pointer;
    min-width: 6rem;
    flex-grow: 1;
    padding: 0.8rem;
    margin: 0.5rem;
    background-color: rgb(235, 235, 235);
    border: 0;
    border-radius: 0.3rem;
}

.markerButton:hover {
    background-color: lightblue;

}

.modeButton {
    cursor: pointer;
    margin: 0 0.5rem;
    height: 4rem;
    width: 4rem;
    background-color: white;
    box-shadow: 0 0 1rem gray;
    border-radius: 2rem;
}


.modeButtonActive {
    cursor: pointer;
    margin: 0 1em;
    height: 4rem;
    width: 4rem;
    background-color: blue;
    box-shadow: 0 0 1rem gray;
    border-radius: 2rem;

}


/* Ids */

#loading {
    position: absolute;
    text-align: center;
    padding: 1rem;
    left: 0;
    right: 0;
    bottom: 10rem;
    display: none;
}

#title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#selectCountry {
    width: 90%;
    height: 1.5rem;
    margin: 1rem 0;
    text-align: left;
    padding: 0.2rem;
    font-size: 1rem;
}


#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


#countryMode {
    position: absolute;
    padding: 1rem;
    bottom: 3rem;
    left: -20rem;
    width: 15rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0 0 1rem gray;
    border-radius: 0.7rem;
    justify-content: center;
}

.buttons {
    display: Flex;
    flex-wrap: wrap;
    justify-content: stretch;
}


#weatherMode {
    position: absolute;
    padding: 1rem;
    bottom: 3rem;
    right: -20rem;
    width: 15rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0 0 1rem gray;
    border-radius: 0.7rem;
    justify-content: center;
}

#astrologyMode {
    position: relative;
    top: -15rem;
    width: 30rem;
    height: 4rem;
    padding: 0.4rem;
    background-color: white;
    box-shadow: 0 0 1rem gray;
    border-radius: 0 0 0.7rem 0.7rem;

}

#centerBottom {
    position: absolute;
    display: flex;
    bottom: 2rem;
    left: 0;
    right: 0;
    justify-content: center;
}

#centerTop {
    height: 1rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
}